@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,300;8..144,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Pathway Extreme', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0%;
}
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #599f97;
  border-radius: 10px;
  border: 3px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #599f97;
}
